h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 70px;
}

h3, h4 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-top: 15px;
}

li a:hover:not(.active) {
  background-color: #111;
}

.services {
    max-height: 20%;
}

#green {
    border: 5px outset #94a84a;
    background-color: #9cb380; 
}


#red {
    border: 5px outset #af5e53;
    background-color: #bd6d55; 
}

#blue {
    border: 5px outset #4a73a8;
    background-color: #5386af;  
}

#orange {
    border: 5px outset #ce7918;
    background-color: #ce8b3e;
}

#information {
    padding-left: 3%;
    padding-bottom: 10px;
    justify-content: left;
    width: 75%;
}

.img {
    height: 200px;
    float: right;
    padding-right: 3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#img {
  margin-right: -100px;
}

#Header {
  width: 100%;
  height: 70px;
  background-color: #A44A3F;
  margin-top: 54px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
}